.site-footer {
  border-bottom: 10px solid var(--secondary-color);
  position: relative;
}

.site-footer::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 200px 200px;
  border-color: transparent transparent var(--secondary-color) transparent;
  pointer-events: none;
}

.site-footer-title {
  color: var(--primary-color); 
}



.site-footer-links {
  padding-left: 0;
}

.site-footer-link-item {
  display: block;
  list-style: none;
  line-height: normal;
}

.site-footer-link {
  color: var(--secondary-color);
  font-size: var(--copyright-font-size);
  font-weight: var(--font-weight-medium);
  line-height: normal;
}

.copyright-text {
  font-size: var(--copyright-font-size);
}

.social-icons-container {
  display: flex;
  flex-direction: row;
  gap: 20px; /* Adjust the gap as needed */
  justify-content: flex-end; /* Align icons to the right */
  align-items: center; /* Vertically center icons */
}

.social-icon-link {
  text-decoration: none; /* Remove underlines from links */
  display: inline-block; /* Adjust display for proper spacing */
}

.social-icon-link:hover {
  opacity: 0.8; /* Add a slight opacity change on hover */
}


.custom-shift {
        margin-left: 65px; 
    }


@media (max-width: 767px) {
  .socials {
    text-align: left; /* Center-align the content on mobile screens */
  }
  
  .custom-shift {
    margin-left: -50px; /* Remove the left margin on mobile screens */
    margin-top: 10px; /* Add some top margin for spacing */
    
  }
  
  .social-icons-container {
    display: flex;
    justify-content: left;
   
  }
  
  .social-icon-link {
    margin: 0 1px; /* Add margin between social icons for spacing */
  }
}